{% extends 'base.html.twig' %}

{% block title %}Tutoriel{% endblock %}

{% block body %}
<div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Welcome To Our <em>Tutoriel</em></h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img src="{{ asset('http://localhost/img/'~tutoriel.pathimg) }}" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4>{{ tutoriel.title }}</h4>
          <span class="author">
            <img src="assets/images/author-02.jpg" alt="" style="max-width: 50px; border-radius: 50%;">
            <h6>{{ tutoriel.getIdArtist().getName() }}<br><a href="#">{{ tutoriel.getIdArtist().getEmail() }}</a></h6>
          </span>
          <p>{{ tutoriel.getDescription() }}</p>
            {% if(favori) %}
              <a href={{path('app_favoris_turoial_delete',{'id_tutoriel':tutoriel.getId()})}}><i class="bi bi-heart-fill"> remove from favoris</i></a>
            {% else %}
              <a href={{path('app_favoris_tutoriel_new',{'id_tutoriel':tutoriel.getId()})}}><i class="bi bi-heart">add to favoris</i></a>
            {% endif %}
        </div>

        <div class="col-lg-12">
          <div class="current-bid">
            <div class="row">
              <div class="col-lg-6">
                <div class="mini-heading"><h4>Videos</h4></div>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                      <option selected>Sort By: Latest</option>
                      <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                      <option value="low">Sort By: Lowest</option>
                      <option value="high">Sort By: Highest</option>
                  </select>
              </fieldset>
              </div>

            {% for v in tutoriel.videos %}

              <div class="col-lg-4 col-md-6">
                <div class="item" style="height:220px;">
                  <div class="left-img">
                    <img src={{ asset('http://localhost/img/'~v.getPathimage()) }} alt="">
                  </div>
                  <div class="right-content">
                    <h4>{{v.title}}</h4>
                    <a href={{path("app_video_show",{"id_video":v.getId()})}}>Show Video</a>
                    <div class="line-dec"></div>
                    <h6>Views: <em>20</em></h6>
                    <span class="date">{{v.getDateP()|date('m:h d:m:Y')}}</span>
                  </div>
                </div>
              </div>
              
            {% endfor %}
            

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    {#
    <table class="table">
        <tbody>
            <tr>
                <th>Id_tutoriel</th>
                <td>{{ tutoriel.getId() }}</td>
            </tr>
            <tr>
                <th>Pathimg</th>
                <td>{{ tutoriel.pathimg }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tutoriel.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutoriel.description }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ tutoriel.niveau }}</td>
            </tr>
        </tbody>
    </table>
    #}

    <a href="{{ path('app_tutoriel_index') }}">back to list</a>

    <a href="{{ path('app_tutoriel_edit', {'id_tutoriel': tutoriel.getId()}) }}">edit</a>

    {{ include('tutoriel/_delete_form.html.twig') }}
{% endblock %}
